@model ActivateViewModel

<div class="row">
    <div class="col-md-12 text-center">
        @Html.ActionLink("Enable Monzo", "GoToMonzo", new { }, new { @class = "btn btn-lg btn-primary", role = "button" })
    </div>
</div>
